/* LOCAL style sheet for Dexter Friend Finder App */

body {
	background-image: url(../images/blood_splat_bg.jpg);
	color: #900;
	padding-bottom: 48px;
	/* Too drippy
	font-family: 'Nosifer', cursive; */
	/* Too informal
    font-family: 'Permanent Marker', cursive; */
	/* Too Halloweenie 
    font-family: 'Trade Winds', cursive; */

	/* would be ok if tighter kern
    font-family: 'Contrail One', cursive;  */

	/* the winner so far
    font-family: 'Yanone Kaffeesatz', sans-serif; */

	/* default */
    font-family: 'Open Sans', sans-serif;
}

hr {
	color: #900;
	background-color: #900;
	height:0; 
  	border:0; 
  	border-top:1px solid #900; 
}

#innerDiv {
	background-color:rgba(236, 236, 236, 0.9); /* lt. gray with opacity */
	margin-top: 24px;
	padding: 12px 24px;
}

#innerDiv .btn-block {
	width: 50%;
	margin: auto;
}

#innerDiv .chosen-container {
	margin-bottom: 2em;
}

#name input {
	width: 50%;
}

#photo input {
	width: 50%;
}

button {
	/*margin-top: 40px;*/
	margin-bottom: 4em;
}

.jumbotron {
	margin-top: 2em;
	padding: 1em;
}

.jumbotron h2 {
	font-size: 140%;
	line-height: 1.25em;
}

.bigitalsmcaps {
	/* Even better */
    font-family: 'Fjalla One', sans-serif; 
    font-variant: small-caps;
    font-style: italic;
    font-weight: bold;
}

.modal-body #holder {
	display:block;
	height: 254px;
	/* border: solid #900 2px; */
}

.modal-body #matchImg {
	display:inline;
	margin-right: 0;
}

.modal-body #matchBio {
	float: right;
	vertical-align: text-top;
	display:inline;
	color: #900;
	margin-top: 0;
	margin-right: 6px;
	margin-left: 0;
	width: 60%;
}

.modal-backdrop {
	/* I thought about modifying the backdrop from the default, semi-transparent dk gray, 
	but it just looks pink with what's below. Just leaving the setup in place for now 
	in case I want to play around with it later */
	/* background-color: #900; */
}

.ital {
	font-style: italic;
}

footer {
	width: 80%;
	margin-bottom: 24px;
	text-align: center;
	margin: auto;
}

footer p {
	background-color: rgba(248, 248, 248, 0.9); /* lt. gray with opacity */;
	padding: 12px;
	color: #900;
	text-align: center;
	width: 78%;
	margin: auto;
}

.footer-text {
	font-size: 80%;
	width: 80%;
	text-align: center;
	margin: auto;
}

footer a:link {
	color: #900;
	text-decoration: none;
}

footer a:visited {
	color: #900;
	text-decoration: none;
}

footer a:hover {
	color: #900;
	text-decoration: none;
	border-bottom: 1px dotted #900;
}

footer a:active {
	color: #f2010f;
	text-decoration: none;
	border-bottom: 1px dotted #f2010f;
}

/* ==============  OVERRIDE of Bootstrap 3 btn-danger class to get both lighter and darker red hues  ======================= */


.btn-danger {
	color:#fff;
	background-color:#ac2925;
	border-color:#900;
}

/* .btn-danger.focus,.btn-danger:focus {
	color:#fff; */
	
	/* lighter */
	/* background-color:#c9302c; */
	/* darker */
	/* background-color:#700f0c; */
	/* darkest */
	/* background-color:#490604; */
	/* med dark */
	/* border-color:#900; */
	/* medium */
	/* border-color:#ac2925; */
/* } */

.btn-danger:hover {
	color:#fff;
	/* original lighter shade in case I want to revert
	background-color:#c9302c;
	border-color:#ac2925;
	*/
	background-color:#db2b26;
	border-color:#ac2925;
}


.btn-danger:active {
    cursor: pointer;
    color:#fff;
    /* darker */
	background-color:#700f0c;
	/* darkest */
	border-color:#490604;
}

.btn-danger.active.focus,.btn-danger.active:focus {
	cursor: pointer;
    color:#fff;
    /* darker */
	background-color:#700f0c;
	/* darkest */
	border-color:#490604;
	}





