/* LOCAL style sheet for Dexter Friend Finder App */

body {
	background-image: url(../images/blood_splat_bg.jpg);
}

.modal-body #matchBio{
	vertical-align: text-top;
	display:inline;
	color: #300;
}

#matchImg {
	display;inline;
}
