/* LOCAL style sheet for Dexter Friend Finder App */

body {
	background-image: url(../images/blood_splat_bg.jpg);
	color: #900;
	padding-bottom: 48px;
}

hr {
	color: #900;
	background-color: #900;
	height:0; 
  	border:0; 
  	border-top:1px solid #900; 
}

#innerDiv {
	background-color:rgba(236, 236, 236, 0.9); /* lt. gray with opacity */
	margin-top: 24px;
	padding: 12px 24px;
}

#innerDiv .btn-block {
	width: 50%;
	margin: auto;
}

input#name{
	width: 50%;
}

input#photo{
	width: 50%;
}

.wrap {
	display: inline;
}

/* .wrap h3 h4 .chosen-select {
	display: table-cell;
}  */

h3.wrap {
	display: inline;
	width: 50%;
} 
h4.wrap {
	display: inline;
	width: 50%;
} 

.modal-body #holder{
	display:block;
	height: 254px;
	/* border: solid #900 2px; */
}

.modal-body #matchImg {
	display:inline;
	margin-right: 0;
}

.modal-body #matchBio{
	float: right;
	vertical-align: text-top;
	display:inline;
	color: #900;
	margin-top: 0;
	margin-right: 6px;
	margin-left: 0;
	width: 60%;
}

.ital {
	font-style: italic;
}

footer {
	width: 78%;
	margin-bottom: 24px;
	text-align: center;
	margin: auto;
}

footer p {
	background-color: rgba(248, 248, 248, 0.9); /* lt. gray with opacity */;
	padding: 12px;
	color: #900;
	text-align: center;
	margin: auto;
}

.footer-text {
	font-size: 80%;
	width: 78%;
	text-align: center;
	margin: auto;
}

/* ==============  OVERRIDE of Bootstrap 3 btn-danger class to get a darker red hue  ======================= */


.btn-danger {
	color:#fff;
	/* Bootstrap original settings 
	background-color:#d9534f;
	border-color:#d43f3a */
	background-color:#c9302c;
	border-color:#ac2925;
}

.btn-danger.focus,.btn-danger:focus {
	color:#fff;
	/* Bootstrap original settings 
	background-color:#c9302c;
	border-color:#761c19 */
	background-color:#700f0c;
	background-color:#490604;
	border-color:#ac2925;
}

.btn-danger:hover {
	color:#fff;
	/* Bootstrap original settings 
	background-color:#c9302c;
	border-color:#ac2925 */
	/* darker but hopes to be even darker still background-color:#ac2925; */
	/* trying this */
	background-color:#700f0c; 
	
	border-color:#900;
}

.btn-danger:active {
	color:#fff;
	/* Bootstrap original settings 
	background-color:#c9302c;
	border-color:#ac2925 background-color:#700f0c;
	border-color:#ac2925; */
	/* this is not changing right now */
	background-color:#700f0c; 
	background-color:#490604;
	border-color:#ac2925
}

.btn-danger.active.focus,.btn-danger.active:focus {
	color:#fff;
	/* Bootstrap original settings 
	background-color:#ac2925;
	border-color:#761c19 */
	
	background-color:#700f0c; 
	background-color:#490604;
	border-color:#ac2925;
}




